CR_EMAIL=your_crunchyroll_email@example.com
CR_PASSWORD=your_crunchyroll_password

MAL_CLIENT_ID=your_mal_client_id_here
MAL_CLIENT_SECRET=your_mal_client_secret_here

MAL_REDIRECT_URI=http://localhost:8765/callback
